.module {
    min-width: 1000px;
}
.whats-new {
    margin-bottom: 50px;
}
.whats-new .module-hd {
    margin-bottom: 35px;
}
.talk .module-hd {
    margin-bottom: 35px;
}
.module-hd {
    position: relative;
}
.module-hd .line {
    position: absolute;
    left: 0;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
}
.inner-wrapper {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
.whats-new .module-hd .module-title {
    width: 320px;
}
.talk .module-hd .module-title {
    width: 374px;
}
.module-hd .module-title {
    margin: 0 auto;
    position: relative;
}
.module-hd .module-title h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.whats-new .module-hd h2 a {
    height: 87px;
    background: url(http://css.selfimg.com.cn/vogue/www-v2/images/title/title-common.jpg) -10px 0 no-repeat;
}
.talk .module-hd h2 a {
    height: 93px;
    background: url(http://css.selfimg.com.cn/vogue/www-v2/images/title/title-people.jpg) 0 0 no-repeat;
}
.module-hd h2 a {
    display: block;
    text-indent: -9999px;
}
.module-hd a {
    font-size: 16px;
    color: #555;
}
a {
    text-decoration: none;
}

.module-bd {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.imgcard {
    width: 304px;
    border: 1px solid #d8d8d8;
    padding: 12px 16px 0;
    float: left;
    margin-right: 44px;
    transition: all .15s;
    -webkit-transition: all .15s;
    -mz-transition: all .15s;
    -o-transition: all .15s;
}
.imgcard:hover{
    box-shadow:#666 0 0 9px;
}
.imgcard .img {
    display: block;
}
.imgcard .img img {
    display: block;
}
.imgcard .img span {
    line-height: 56px;
    font-size: 16px;
    overflow: hidden;
    height: 56px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.topic-list {
    width: 270px;
    padding: 12px 16px 13px;
    border: 1px solid #d8d8d8;
}
.fr {
    float: right;
}
.topic-list{
    width:304px;
}
.topic-list .tl-noborder {
    border-top: none;
    padding-top: 13px;
}
.topic-list .normal {
    list-style: inherit;
    margin-left: 25px;
}
.topic-list li {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.topic-list ul a {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.topic-list .normal {
    list-style: inherit;
    margin-left: 25px;
}
.topic-list li {
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 14px;
}
.module-bd .imgcard a{
    color:#000;
}
.imgcard a:hover{
    color: #e00024;
}
.module-bd .topic-list a{
    color:#000;
}
.topic-list a:hover{
    color: #e00024;
}
.module-bd .imgcard a{
    text-decoration: none;
}
.module-bd .imgcard a:hover{ text-decoration: none; }

.talk-item {
    margin-bottom: 50px;
}
.fl {
    float: left;
}
.talk-item .topic-img {
    float: left;
    width: 248px;
    height: 248px;
    position: relative;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    transition: all .3s;
    -webkit-transition: all .3s;
    -mz-transition: all .3s;
    -o-transition: all .3s;
}
.talk-item .topic-img img {
    position: absolute;
    z-index: 100;
}
.talk-item .detail-info {
    float: right;
    width: 230px;
    height: 228px;
    margin-top: 9px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    position: relative;
}
.talk-item .item-title {
    display: block;
    background-color: #000;
    font-size: 17px;
    color: #fff;
    padding: 16px 20px;
    margin: 27px auto auto -8px;
    position: relative;
    z-index: 101;
    height:68px;
    word-break: break-all;
}
.talk-item .item-des {
    font-size: 14px;
    color: #666;
    padding: 20px;
}
.talk-item .item-des a {
    color: #666;
}